/* You can add global styles to this file, and also import other style files */

:root {
  --fwl-header-color: #0d0c31;
  --fwl-body-color: #16174b;
  --fwl-tertiary-color: #27286f;
  --fwl-text-color: #f0ffff;
}
